@font-face {
    font-family: gameTekst;
    src: url(KnightWarrior-w16n8.otf);
  }
@font-face {
    font-family: pixelHead;
    src: url(./3DThirteenPixelFontsRegular-2dPv.ttf);
}
@font-face {
    font-family: pixelNormal;
    src: url(./NeonPixel7-XVx2.ttf);
}

*{
    margin: 0;
    padding: 0;
    color: #d5d1dd;
    border-color: #a52312;
}

.darkmode{
    background-color: #080807;
    color: #ebebea;
}

.darkPrime{
    background-color: #a52312;
}

.darkSecond{
    background-color: #423f0b;
}

.darkAccent{
    border-color: #569fa4;
}

body{
    background-color: #1e1e1e;
}

h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

p, b, a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, footer{
    min-height: calc(10vh - 1px);
    background-color: #212529;
    color: #d5d1dd;
    bottom: 0;
}

header{
    display: grid;
    align-items: center;
    border-bottom: 1px solid #5CA4A9;
}

nav{
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    place-items: center;
    font-size: 1.2rem;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: #d5d1dd;
}

nav a:hover{
    color: #a52312;
}

main{
    display: grid;
    min-height: 80vh;
    place-content: center;
}

main h1{
    padding: 20px 0;
    text-align: center;
}

#games{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 20px;
    text-align: center;
}

.game{
    display: grid;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    margin: 10px 0;
    background-color: #080807;
}

.game h2{
    width: calc(100%-20px);
    border-bottom: 1px solid black;
    text-align: center;
}
.game img{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid black;
}
.game b{
    margin: 10px 0;
}

.game:hover {
    border: 1px solid #5CA4A9;
    background-color: #569fa4;
    color: #080807 !important;
}

.game p, .game h2{

    padding: 10px 0;
}

.game h2{
    font-size: 2rem;
    text-align: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    border-top: 1px solid #5CA4A9;
}

#search-friends, #friend-request-send, #friend-request{
    position: absolute;
}

.forms{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-self: center;
}

#highscore{
    display: flex;
    flex-direction: column;
    gap:10px;
    /* width: 80vw; */
}

#friends-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.placement{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* grid-template-columns: repeat(auto-fit, minmax(0, auto));
    grid-template-rows: auto auto auto; */
    place-items: center;
}

.placement h2:nth-child(1){
    grid-column-start: 3;
    grid-row-start: 1;
}
.placement article:nth-child(2){
    grid-column-start: 3;
    grid-row-start: 2;
}
.placement article:nth-child(3){
    grid-column-start: 2;
    grid-row-start: 3;
}
.placement article:nth-child(4){
    grid-column-start: 4;
    grid-row-start: 3;
}
.placement article:nth-child(5){
    grid-column-start: 1;
    grid-row-start: 4;
}
.placement article:nth-child(6){
    grid-column-start: 5;
    grid-row-start: 4;
}

#index-messages{
    display: grid;
    grid-template-columns: repeat(2, 350px);
    justify-content: flex-start;
    gap: 20px;
}

.message{
    text-align: center;
}

#profile-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    row-gap: 10vh;
}

#profile-page > section > form{
    display: grid;
}

.user-card{
    display: flex;
    gap: 10px;
}

@media screen AND (max-width: 780px){
    
    #games{
        display: grid;
        justify-content: space-around;
        grid-template-columns: 100%;
        gap: 20px 0;
    }

    #index-messages{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: flex-start;
        gap: 20px;
    }

    nav{
        flex-direction: column;
    }
    nav a{
        text-align: center;
        width: 100%;
        border-bottom: 1px solid black;
    }

}